{deps, [
%%    {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}}
    ]}.

{plugins, [rebar3_appup_plugin]}.

{provider_hooks, [
      {pre, [{tar, {appup, tar}}]},
      {post, [{compile, {appup, compile}},
              {clean, {appup, clean}}]}
]}.

{relx, [{release, {edep, {semver, ""}},
         [
          edep
         ]
        },

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, false},
        {include_erts, false},
        {extended_start_script, true}
       ]}.

